@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
}

.bio {
    text-align: center;
    font-family: "Roboto", serif;
}

body {
    background-color: #E2EBEE;
}

header {
    clear: both
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #1B2E3F;
}

nav a:hover {
    color: #FFCFB6;
}

.navbar li {
	display: inline;
    margin: 0 3em; 
  }

.navbar ul {
    margin: 20px;
}

.navbar a {
    color: white;
    font-size: large;
    text-decoration: none;
    font-family: "roboto", serif;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: large;
}

.iconImage {
    height: 350px;
    width: 300px;
    object-fit: cover;
    margin: 0 10px;
}

.link {    
    color: #1B2E3F;
}

p a:hover {    
    color: #FFCFB6;
}

footer {
    background-color: #FFCFB6;
    text-align: center;
    color: #1B2E3F;
    overflow: hidden;
    margin-top: 20%;
}

.sections {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
	margin: 50px 0px;
}

.cities, .landmarks, .people {
	width: 30%;
	padding-bottom: 15px;
	list-style-type: none;
    background-color: #BADAE4;
    text-align: center;
}

ul {
    list-style-type: none;
}

.bannerImage {
    width: 100%
}


.bioContainer {
    margin: 50px;
    padding: 20px;
}
